<blockquote{{ attributes }}>
  {% block content %}
    <div class="image image--stylized">
      {{ content.field_image }}
    </div>
    <div class="quote">
      <div class="body">
        {{ content.body }}
      </div>
      <div class="credit">
        <span class="name"> {{ content.field_name }}</span>
        <span class="description">{{ content.field_description }}</span>
      </div>
    </div>
    <div class="cta">
      <div class="cta-body">
        {% include "@atoms/global/label/label.twig" %}

        {{ content.field_cta_body }}
      </div>
      <div class="cta-link">
        {{ content.field_cta_link }}
      </div>
    </div>
  {% endblock %}
</blockquote>
