<div{{ attributes }}>
  <div class="status-alert--{{ content.status }} status-alert--{{ content.severity }}">
  {% block content %}
    <span class="material-icons" aria-hidden="true">tag_faces</span>

    <div class="body">
      {% include "@atoms/text/label/label.twig" %}

      <p>Status: {{ content.status }}</p>
      <p>Severity: {{ content.severity }}</p>

      {{ content.body }}
    </div>
  {% endblock %}

  </div>
</div>
