<div{{ attributes }}>
  <div class="status-alert--message status-alert--{{ content.status }} status-alert--{{ content.severity }}">
  {% block content %}
    <span class="material-icons" aria-hidden="true">
    {% if content.status == "active" %}
      error_outline
    </span>
    <p>Status: {{ content.status }}</p>
    {% elseif content.status == "resolved" %}
      check_circle_outline
    </span>
    <p>Status: {{ content.status }}</p>
    {% else %}
      tag_faces
    </span>
    {% endif %}

    <div class="body">
      {% include "@atoms/text/label/label.twig" %}

      {{ content.body }}

      {% if content.status == "active" or content.status =="resolved" %}
      <p>Severity: {{ content.severity }}</p>
      {% endif %}
    </div>
  {% endblock %}

  </div>
</div>
