<div class="card">
  <div class="title"><a href="{{ link_url }}">{{ title }}</a></div>

  <div class="image">
    {{ image }}
  </div>

  {% for term in taxonomy_terms %}
    <span class="taxonomy-term">
      {{ term }}
    </span>
  {% endfor %}

  {% if content %}
    <div class="body">
      {% block content %}
        {{ content }}
      {% endblock %}
    </div>
  {% endif %}
</div>
