{#
/**
 * @see templates/block/block--system-menu-block.html.twig
 */
#}
<nav role="navigation" aria-labelledby="{{ heading_id }}"{{ attributes }}>
  {{ title_prefix }}
  {# Label. Not displayed, but provided for screen readers. #}
  {% if not configuration.label_display %}
    <div class="visually-hidden">
  {% endif %}

  <h2{{ title_attributes }}>{{ configuration.label }}</h2>

  {% if not configuration.label_display %}
    </div>
  {% endif %}
  {{ title_suffix }}

  {# On small screens, Western menu shows here. Otherwise it is hidden and appears earlier in DOM #}
  {% include "@molecules/navigation/wwu-mobile-menu/wwu-mobile-menu.html.twig" %}

  {# Menu. #}
  {% block content %}
    {{ content }}
  {% endblock %}
</nav>
