{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
<div class="ultimenu__region">
  <div class="ultimenusub">
    {{ menus.menu_links(items, attributes, classes, 0) }}
  </div>

  {% if extra_menus %}
    {% for menu in extra_menus %}
    <div class="block--menu">
      <h2>{{ menu.title }}</h2>
      <ul class="menu">
        {% for item in menu.items %}
        <li class="menu-item">
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
    {% endfor %}
  {% endif %}
</div>

{% macro menu_links(items, attributes, classes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('menu') }}>

    {% for item in items %}
      <li{{ item.attributes.addClass('menu-item') }}>
        <a href="{{ item.url }}">{{ item.title }}</a>
        {% if item.below %}
          {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
        {% endif %}
      </li>
    {% endfor %}

    </ul>
  {% endif %}
{% endmacro %}
