{% block container %}
<div{{ attributes }}>
{% endblock %}

  {% block title %}
    {% include "@atoms/label/label.twig" %}
  {% endblock %}

  {% block content %}
    <div class="body">
    {{ content.body }}
    </div>
  {% endblock %}

  {% block links %}
    {% if content.link %}
      <a class="button" href="{{ content.link.url }}" class="button">{{ content.link.text }}</a>
    {% endif %}

    {% if content.video.type == "YouTube" %}
      <a class="button" data-featherlight="iframe" data-featherlight-iframe-allow="autoplay; encrypted-media" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-frameborder="0" data-featherlight-iframe-style="display:block;border:none;height:50vh;width:50vw;" href="https://www.youtube.com/embed/{{ content.video.id }}?rel=0&amp;autoplay=1">Watch Video <i aria-hidden="true" class="material-icons" style="font-size: 18px">play_arrow</i></a>

    {% elseif content.video.type == "Vimeo" %}
      <a class="button" data-featherlight="iframe" data-featherlight-iframe-allow="autoplay; encrypted-media" data-featherlight-iframe-allowfullscreen="true" data-featherlight-iframe-frameborder="0" data-featherlight-iframe-style="display:block;border:none;height:50vh;width:50vw;" href="https://player.vimeo.com/video/{{ content.video.id }}?rel=0&amp;autoplay=1">Watch Video <i aria-hidden="true" class="material-icons" style="font-size: 18px">play_arrow</i></a>
    {% endif %}
  {% endblock %}
</div>
