{% set heading_id = attributes.id ~ '-switcher' %}

<h1 id="{{ heading_id }}">{{ page.title }}</h1>
<div{{ attributes }} role="tablist" {% if page.title %} aria-labelledby="{{ heading_id }}" {% else %} aria-label="Content Switcher" {% endif %}>
  {% for item in items %}
    <button {{ item.attributes }} id="{{ item.button_id }}" role="tab" aria-controls="{{ item.content_id }}">
      {{ item.title }}
    </button>
  {% endfor %}
</div>

<div class="content-switcher-container">
  {% for item in items %}
    <div{{ item.attributes.addClass("content") }} id="{{  item.content_id }}" role="tabpanel" aria-labelledby="{{ item.button_id }}" tabindex="0">
      <p>{{ item.content }}</p>
    </div>
{% endfor %}
</div>
