{% for item in items %}

<div{{ attributes }}>
  <video{{ item.attributes.addClass('bg-video') }} alt="{{ item.alt }}" autoplay=""  id="{{ item.id }}" loop="" muted="" preload="auto" style="width:100%; z-index:-1;"><source src="{{ item.source }}" /></video>
  <button>Pause animation</button>
  </div>

{% endfor %}
