{#
/**
 * @see templates/content/secondary-site-name.html.twig
 */
#}
<div{{ attributes}}>
  {{ title_prefix }}
    {% if label %}
        <span{{ title_attributes }}>{{ label }}</span>
    {% endif %}
  {{ title_suffix }}
</div>
