<div{{ attributes }}>
  {{ title_prefix }}
  {% block heading %}
    {% if label %}
      {% if label_tag == 'h2' %}
        <h2{{ title_attributes }}>{{ label }}</h2>
      {% elseif label_tag == 'h3' %}
        <h3{{ title_attributes }}>{{ label }}</h3>
      {% endif %}
    {% endif %}
    {{ title_suffix }}
  {% endblock %}

  {% block content %}
    {% for item in items %}
      {% if item.highlight == true %}
        <aside class="timeline-item--highlighted">
          {% if item.icon %}
            <span class="material-icons" aria-hidden="true">{{ item.icon }}</span>
          {% endif %}
          
          {{ item.text }}
        </aside>

      {% else %}
        <p class="timeline-item">
          {% if item.icon %}
            <span class="material-icons" aria-hidden="true">{{ item.icon }}</span>
          {% endif %}

          {{ item.text }}
        </p>
      {% endif %}
    {% endfor %}
  {% endblock %}
</div>
