{#
/**
 * @see templates/navigation/ultimenu.html.twig
 */
#}
{% if items -%}
<nav class="nav--main" aria-label="Main">
  {{ title_prefix }}
  {# Label. Not displayed, but provided for screen readers. #}
  {% if not configuration.label_display %}
    <div class="visually-hidden">
  {% endif %}
  <h2{{ title_attributes }}>{{ configuration.label }}</h2>

  {% if not configuration.label_display %}
    </div>
  {% endif %}
  {{ title_suffix }}

  {# On small screens, Western menu shows here. Otherwise it is hidden and appears earlier in DOM #}
  {% include "@molecules/navigation/wwu-mobile-menu/wwu-mobile-menu.html.twig" %}

  <ul id="{{ id_attributes }}"{{ attributes.addClass(classes) }}>
    {%- for item in items -%}
      <li{{ item.attributes.addClass(item_classes, item.flyout ? 'has-ultimenu') }}>
        {%- if item.link -%}
          {{ item.link }}
        {%- endif -%}
        {%- if item.flyout -%}
          <section{{ item.flyout_attributes.addClass('ultimenu__flyout') }}>
            <a class="close-flyout">< Back</a>
            {{ item.flyout }}
          </section>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endif %}
