{#
/**
 * @file
 * Default theme implementation for Ultimenu block (the UL list or container).
 * If you need to customize the actual Flyout, use region.html.twig instead.
 *
 * Available variables:
 * - items: The renderable array containing the menu.
 * - attributes.class: A string containing the CSS classes for the SECTION tag:
 *   - ultimenu ultimenu--ORIENTATION ultimenu--MENU-NAME SKIN-NAME.
 *   - ultimenu ultimenu--horizontal ultimenu--htb ultimenu--horizontal ultimenu--blue
 *
 * The following variables are provided for contextual information.
 * - delta: (string) The ultimenu's block delta which is the cleaned menu name.
 * - config: An array of the block's configuration settings. Includes
 *   - menu_name: main-menu
 *   - skin: modules/custom/ultimenu/skins/ultimenu--htb-tabs-blue.css
 *   - skin_name: ultimenu--htb-tabs-blue (based on safe CSS file name)
 *   - orientation:
 *     - ultimenu--htb: horizontal to bottom
 *     - ultimenu--htt: horizontal to top
 *     - ultimenu--vtr: vertical to right
 *     - ultimenu--vtl: vertical to left
 *
 * @see template_preprocess_ultimenu()
 */
#}

{%
  set classes = [
    'ultimenu',
    'ultimenu--' ~ delta,
    config.orientation ? config.orientation|clean_class,
    'v' in config.orientation ? 'ultimenu--vertical' : 'ultimenu--horizontal',
    config.skin_name ? config.skin_name|clean_class,
  ]
%}
{%
  set item_classes = [
    'ultimenu__item',
    'uitem',
  ]
%}
{% set id_attributes = attributes.id|clean_id %}
{% apply spaceless %}
{% if items -%}

{{ attach_library('ashlar_six/accessible-mega-menu') }}
{{ attach_library('ashlar_six/menu-extras') }}

<nav class="main-navigation" aria-label="Main">
  {% include "@templates/label/label.twig" %}

  <ul{{ attributes.addClass(classes) }}>
    {%- for item in items -%}
      <li{{ item.attributes.addClass(item_classes, item.flyout ? 'has-ultimenu', item.config.is_active == true ? 'ultimenu__item--active-page')}}>
        {% if item.flyout %}
          <span class="component-icon expand" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" height="32px" viewBox="0 -960 960 960" width="32px"><path d="M540-480 356-664l20-20 204 204-204 204-20-20 184-184Z"/></svg></span>
        {% endif %}
        {%- if item.link -%}
          {{ item.link }}          

          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        {%- endif -%}
        {%- if item.flyout -%}                
          <section{{ item.flyout_attributes.addClass('ultimenu__flyout') }}>
            {{ item.flyout }}
          </section>
        {%- endif -%}
      </li>
    {%- endfor -%}
  </ul>
</nav>
{%- endif %}
{% endapply %}