<div {{ attributes }}>
  {% if block_content.field_link.0.url is not empty %}
  <div class="title">
    <a href="{{ block_content.field_link.0.url }}">
      {{ title_prefix }}
        {% if label %}
          <{{ block_content.field_heading_level.0.value }} {{ title_attributes }}>{{ label }}</{{ block_content.field_heading_level.0.value }}>
        {% endif %}
    </a>

    {{ title_suffix }}
  </div>
  {% else %}
  <div class="title">
    {% include "@atoms/text/label/label-customized.twig" %}
  </div>
  {% endif %}

  {% if content.field_image %}
  <div class="image">
    {{ content.field_image }}
  </div>
  {% endif %}

  {% if content.field_highlighted_terms %}
    {{ content.field_highlighted_terms }}
  {% endif %}

  <div class="body">
    {% if content %}
      {% block content %}
        {{ content.body }}
      {% endblock %}
    {% endif %}
  </div>
</div>
