{#
/**
 * @see templates/block/block.html.twig
 */
#}
<div{{ attributes }}>
  {% block title %}
  {{ title_prefix }}  
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
  {{ title_suffix }}
  {% endblock %}

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
