{#
/**
 * @see templates/block/block.html.twig
 */
#}
<div{{ attributes }}>
<<<<<<< HEAD
  {% include "@atoms/global/label/label.twig" %}
=======
  {% block title %}
  {{ title_prefix }}  
    {% if label %}
      <h2{{ title_attributes }}>{{ label }}</h2>
    {% endif %}
  {{ title_suffix }}
  {% endblock %}
>>>>>>> master

  {% block content %}
    {{ content }}
  {% endblock %}
</div>
