{#
/**
 * @see templates/layout/page-template.html.twig
 */
#}

<div class="page">
  {% block header %}
    <header class="site-header" role="banner">
      {% block wwu_pre_header %}
        <wwu-pre-header>
          <noscript>
              <a href="#main-content" class="skip-link focusable">
                  <span class="skip-link-text">Skip to Content </span>
                  <span class="material-icons" aria-hidden="true">keyboard_arrow_down</span>
              </a>    

              <wwu-search></wwu-search>
          </noscript>
        </wwu-pre-header> 
      {% endblock %}
      
      {% block top %}        
      {% endblock %}

      {% block wwu_header %}
        <wwu-header sitename='{{ site_name }}' regioncontent='{{ page.wwu_header }}'>
            <noscript>
                <nav class="wwu-menu" aria-label="Western Quick Links">
                    <a class="small icon-with-text apply-quick-link" href="https://admissions.wwu.edu/apply">
                        <span class="material-icons" aria-hidden="true">how_to_reg</span>
                        <span class="icon-text">Apply</span>
                    </a>
                    
                    <a class="small icon-with-text give-quick-link" href="https://alumniq.wwu.edu/giving/make-a-gift">
                        <span class="material-icons" aria-hidden="true">favorite_border</span>
                        <span class="icon-text">Give</span>
                    </a>
                    
                    <a class="small icon-with-text report-bias-quick-link" href="https://www.wwu.edu/sebrt/report-bias-incident">
                        <span class="material-icons" aria-hidden="true">sms</span>
                        <span class="icon-text">Report Bias</span>
                    </a>
                    
                    <a class="small icon-with-text my-western-link" href="https://mywestern.wwu.edu">
                        <span class="material-icons" aria-hidden="true">person_pin</span>
                        <span class="icon-text">myWestern</span>
                    </a>

                    <a class="small icon-with-text jobs-link" href="https://www.wwu.edu/workatwestern">
                        <span class="material-icons" aria-hidden="true">business_center</span>
                        <span class="icon-text">Jobs</span>
                    </a>
                </nav>
                <div class="site-info">
                    <div class="western-logo">
                        <a class="western-home-link" href="https://www.wwu.edu">
                            <img src="/themes/contrib/ashlar/build/images/logos/western_logo.svg" style="width: 8rem; height: 8rem;" alt="Western Washington University: Make Waves (logo)"/>
                        </a>
                    </div>
                    
                    <div class="site-name">
                        <a href="/" class="home-link"></a>
                    </div>
                    
                    <div class="western-header-region">
                    </div>
                </div>
            </noscript>
        </wwu-header>
      {% endblock %}

      {% block main_navigation %}
        {{ page.main_navigation }}
      {% endblock %}

      {% block splash %}
        <div class="splash">
          {{ page.header }}
        </div>
      {% endblock %}
     </header>
  {% endblock %}

  {% block content %}
    {{ page.content }}
  {% endblock %}

  {% block footer %}
    <footer class="page-footer region region--footer" role="contentinfo">
      {% block site_footer %}
        <section aria-label="Site Footer" class="site-footer">
          {% block footer_regions %}
            {% if page.footer_left %}
              {{ page.footer_left }}
            {% endif %}
            {% if page.footer_center %}
              {{ page.footer_center }}
            {% endif %}
            {% if page.footer_right %}
              {{ page.footer_right }}
            {% endif %}
            {% if page.footer_bottom %}
              {{ page.footer_bottom }}
            {% endif %}
          {% endblock footer_regions %}
        </section>
      {% endblock %}
      {% block wwu_footer %}
        <wwu-footer aria-label="Western footer">
          <noscript>
          </noscript>
        </wwu-footer>
      {% endblock %}
    </footer>
  {% endblock %}

  {% block bottom %}
  {% endblock %}
</div>
