<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <a href="{{ url }}" class="image button stylized">
      {{ image }}
      <div class="text">{{ link_text }}</div>
    </a>
  {% endblock %}
</div>
