{#
/**
 * @file
 * Theme override for a timeline block
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('ashlar/timeline-block.js') }}
{%
  set classes = [
    'block',
    'timeline-block',
    'block--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('timeline-header') %}
{% block template %}
  {% embed "@molecules/timeline-block/timeline-block.html.twig" %}
    {% block heading %}
      {{ title_prefix }}
      {% if label %}
        {% if block_content.field_title_tag.0.value == 'h2' %}
          <h2{{ title_attributes }}>{{ label }}</h2>
        {% elseif block_content.field_title_tag.0.value == 'h3' %}
          <h3{{ title_attributes }}>{{ label }}</h3>
        {% endif %}
      {% endif %}
      {{ title_suffix }}
    {% endblock %}

    {% block content %}
      {{ kint(block_content) }}

      {% for item in items %}
        {% if item.highlight == true %}
          <aside class="timeline-item--highlighted">{{ item.text }}</aside>

        {% else %}
          <p class="timeline-item">{{ item.text }}</p>
        {% endif %}
      {% endfor %}
    {% endblock %}
  {% endembed %}
{% endblock %}
