{#
/**
 * @file
 * Theme override to display an image button custom block type
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('ashlar/announcement') }}
{{ attach_library('ashlar/material-icons') }}
{%
  set classes = [
    'block',
    'wwu-announcement',
    'block--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
    block_content.field_custom_classes.0.value
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('title') %}

{% block template %}
  <div{{ attributes }}>
    {% block content %}
      <span class="material-icons" aria-hidden="true">{{ content.field_icon }}</span>

      <div class="body">
        {% block title %}
          {% include "@templates/label/label-customized.twig" %}
        {% endblock %}
        
        {{ content.body }}
      </div>
    {% endblock %}
  </div>
{% endblock %}
