{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{{ attach_library('ashlar/donut-chart') }}
{%
  set classes = [
    'block',
    'block--' ~ (derivative_plugin_id ? derivative_plugin_id|clean_class : plugin_id|clean_class),
    block_content.field_custom_classes.0.value,
    'donut-chart'
  ]
%}
{% set attributes = attributes.addClass(classes) %}
{% set title_attributes = title_attributes.addClass('title') %}

{% block template %}
  <wwu-donut-chart label="{{ configuration.label }}" {{ attributes }}>
    {% block title %}  
      {% include "@templates/label/label-customized.twig" %}
    {% endblock %}

    {% set numThings = content.field_chart_number['#items']|length - 1 %}
    {% set dashoffset = 0 %}

    <ul>
      {% for i in 0..numThings %}
        <li>{{ content.field_chart_number[i] }}% {{ content.field_chart_label[i] }}</li>
      {% endfor %}
    </ul>

    <noscript>
    <svg viewBox="0 0 31.83 31.83" role="img" aria-labelledby="{{ configuration.label|clean_class }}">
      <title id="{{ configuration.label|clean_class }}">Pie chart of {{ configuration.label }}</title>
      {% for i in 0..numThings %}
        <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: {{ dashoffset }}; stroke-dasharray: {{ content.field_chart_number[i] }} 100;"/>

        {% set dashoffset = dashoffset - content.field_chart_number[i]['#markup'] %}
      {% endfor %}
    </svg>
    </noscript>
  </wwu-donut-chart >
{% endblock %}
