{#
/**
* @see templates/layouts/majors/layout--majors.html.twig
*/
#}
{%
set classes = [
'layout',
'layout--majors'
]
%}

{% set heading_id = 'major-info-switcher' %}

{% if content %}
<div{{ attributes.addClass(classes) }}>

{% if content.title %}
<div {{ region_attributes.title.addClass('layout__region', 'layout__region--title') }}>
  <h1 id="{{ heading_id }}">
    {{ content.title }}
  </h1>

  <div class="majors-menu">
    <div class="content-switcher" role="tablist" aria-labelledby="{{ heading_id }}">
      <button role="tab" id="button-intro" aria-controls="panel-intro" class="active switch-introduction">Introduction</button>
      <button role="tab" aria-controls="panel-beyond" id="button-beyond" class="switch-beyond">Beyond the Classroom</button>
      <button role="tab" aria-controls="panel-careers-grad" id="button-careers-grad" class="switch-careers">Careers and Graduate Studies</button>
    </div>
  </div>
</div>
{% endif %}

<div class="right-side-container">
  <div class="content-switcher-container">
    {% if content.introduction %}
    <div role="tabpanel" tabindex="0" {{ region_attributes.introduction.addClass('layout__region', 'layout__region--introduction', 'content', 'switch-introduction', 'active') }} id="panel-intro" aria-labelledby="button-intro">
      {{ content.introduction }}
    </div>
    {% endif %}

    {% if content.beyond %}
    <div role="tabpanel" tabindex="0" {{ region_attributes.beyond.addClass('layout__region', 'layout__region--beyond', 'content', 'switch-beyond') }} id="panel-beyond" aria-labelledby="button-beyond">
      {{ content.beyond }}
    </div>
    {% endif %}

      {% if content.careers %}
      <div role="tabpanel" tabindex="0" {{ region_attributes.careers.addClass('layout__region', 'layout__region--careers', 'content', 'switch-careers') }} id="panel-careers-grad" aria-labelledby="button-careers-grad">
        {{ content.careers }}
      </div>
      {% endif %}
  </div>
</div>

{% if content.sample_jobs %}
<div {{ region_attributes.sample_jobs.addClass('layout__region', 'layout__region--sample-jobs blue-bg font-size--smaller') }}>
  {{ content.sample_jobs }}
</div>
{% endif %}

{% if content.catalog %}
<div {{ region_attributes.catalog.addClass('layout__region', 'layout__region--catalog') }}>
  {{ content.catalog }}
</div>
{% endif %}

{% if content.related_majors %}
<div {{ region_attributes.related_majors.addClass('layout__region', 'layout__region--related-majors') }}>
  {{ content.related_majors }}
</div>
{% endif %}

{% if content.department %}
<div {{ region_attributes.department.addClass('layout__region', 'layout__region--department') }}>
  {{ content.department }}
</div>
{% endif %}

</div>
{% endif %}
