<div class="user-profile">
  <div class="profile-left">
    <div class="profile-photo image--stylized">
      {{ user_picture }}
    </div>

    <div class="social-links">
      {% for social in field_social_media %}
      <a href="{{ social.url }}">{{ social.name }}</a>
      {% endfor %}
    </div>

    <div class="website">
      <h3>Website</h3>
      <p><a href="{{ field_website_url }}">{{ field_website_title }}</a></p>
    </div>
  </div>

  <div class="profile-right">
    <div class="name">
      <h1> {{ field_preferred_name }} {{ field_last_name }}, {{ field_degree }} </h1>
      <p class="tagline">
        <span>{{ field_job_title }} </span> ·
        <span>{{ field_pronouns }}</span>
      </p>
    </div>

    <div class="office">
      <h2>Office</h2>

      <div>
        <h3>Office</h3>
        <p>{{ field_office_location }}</p>
      </div>

      <div>
        <h3>Office Hours></h3>
        {% for hours in field_office_hours %}
        <p>{{ hours }}</p>
        {% endfor %}
      </div>
    </div>

    <div class="contact">
      <h2>Contact</h2>

      <div>
        <h3>Email</h3>
        <p><a href="mailto:{{ field_email }}">{{ field_email }}</a></span></p>
      </div>

      <div>
        <h3>Phone</h3>
        <p><a href="tel:{{ field_phone_number }}">{{ field_phone_number }}</a></p>
      </div>
    </div>
  </div>
</div>

<div class="layout--onecol">
  <div class="layout__region">
    <h2>About</h2>
    <p>{{ field_about }}</p>
  </div>
</div>
