<div{{ attributes }}>
  {% block title %}
    <h2{{ title_attributes }}>
      Schedule of Events
    </h2>
  {% endblock %}

  {% for item in items %}
  <div>
    {% block paragraph %}
      <div class="schedule-item">
        {% block content %}
          {% if item.field_link %}
            <a href="{{ item.field_link }}">
          {% endif %}
            {% if item.field_item_heading_level %}
              <{{ item.field_item_heading_level }} class="schedule-heading">
                <span class="time">{{ item.field_time }}</span>
                <span class="label">{{ item.field_item_label }}</span>
              </{{ item.field_item_heading_level }}>
            {% else %}
              <div class="statistic-heading">
                <span class="time">{{ item.field_time }}</span>
                <span class="label">{{ item.field_item_label }}</span>
              </div>
            {% endif %}
          {% if item.field_link %}
            </a>
          {% endif %}

          <div class="content">
            {{ item.field_content }}
          </div>
        {% endblock %}
      </div>
    {% endblock paragraph %}
  </div>
  {% endfor %}
</div>
