{{ title_prefix }}
{% if label %}
  <h2{{ title_attributes }}>{{ label }}</h2>
{% endif %}
{{ title_suffix }}
<div{{ attributes.addClass('card-row') }}>
  {% block cards %}
    {% for card in cards %}
      {{ card }}
    {% endfor %}
  {% endblock %}
</div>
