{#
/**
 * @see templates/form/form.html.twig
 */
#}
<form{{ attributes }}>
  {{ element.cas_login_link }}
  {% if manual_user_login %}
    <button class="manual-login">Manual Login (non-Western accounts)</button>
    {{ element.name }}
    {{ element.pass }}
    {{ element.actions }}
 {% endif %}
</form>
  