<blockquote{{ attributes }}>
{% block content %}
  <div class="image image--stylized">
    {{ content.field_image }}
  </div>
  <div class="body">
    {% include "@atoms/text/label/label.twig" %}
    {{ content.body }}

    <div class="credit">
      <span class="name"> {{ content.field_name }}</span>
      <span class="description">{{ content.field_description }}</span>
    </div>
  </div>
{% endblock %}
</blockquote>
