<div{{ attributes }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }}>{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}

  {% block content %}
    <div class="image">
      {{ image }}
    </div>
    <span class="material-icons">{{ icon }}</span>
    <div class="body">
      {{ body }}
    </div>
  {% endblock %}
</div>
