<!-- Create a div where the graph will take place -->
<div {{ attributes }}>
  {% include "@atoms/global/label/label.twig" %}

  {% set numThings = content.field_chart_number['#items']|length - 1 %}
  {% set dashoffset = 0 %}

  <svg viewBox="0 0 31.83 31.83" role="img" aria-labelledby="{{ label|clean_class }}">
    <title id="{{ label|clean_class }}">Pie chart of {{ label }}</title>
    {% for i in 0..numThings %}
      <circle r="15.915" cx="15.915" cy="15.915" style="stroke-dashoffset: {{ dashoffset }}; stroke-dasharray: {{ content.field_chart_number[i] }} 100;"/>

      {% set dashoffset = dashoffset - content.field_chart_number[i]['#markup'] %}
    {% endfor %}
  </svg>

  <ul class="data">
    {% for i in 0..numThings %}
      <li>{{ content.field_chart_number[i] }}% {{ content.field_chart_label[i] }}</li>
    {% endfor %}
  </ul>
</div>
