<div{{ attributes }}>
  <div class="status-alert--message status-alert--{{ content.status }} status-alert--{{ content.severity }}">
  {% block content %}
    <p class="material-icons status-color" aria-hidden="true">
    {% if content.status == "active" %}
      error_outline
    </p>
    <p class="status status-color">Status: {{ content.status }}</p>
    {% elseif content.status == "resolved" %}
      check_circle_outline
    </p>
    <p class="status status-color">Status: {{ content.status }}</p>
    {% else %}
      tag_faces
    </p>
    {% endif %}

    <div class="body">
      {% include "@atoms/text/label/label.twig" %}

      {{ content.body }}

      {% if content.status == "active" or content.status =="resolved" %}
      <p class="severity status-color">Severity: {{ content.severity }}</p>
      {% endif %}
    </div>
  {% endblock %}

  </div>
</div>
