<div {{ attributes }}>
  {% if content.field_image %}
    <div class="image">
      {{ content.field_image }}
    </div>
  {% endif %}

  <div class="content">
    {% if block_content.field_link.0.url is not empty %}
      <div class="title">
        {{ title_prefix }}
          {% if label %}
            {% if block_content.field_heading_level.0.value is not empty %}
              <{{ block_content.field_heading_level.0.value }} {{ title_attributes }}>
                <a href="{{ block_content.field_link.0.url }}">{{ label }}</a>
              </{{ block_content.field_heading_level.0.value }}>
            {% else %}
              <p {{ title_attributes }}>
                <a href="{{ block_content.field_link.0.url }}">{{ label }}</a>
              </p>
            {% endif %}
          {% endif %}
        {{ title_suffix }}
      </div>
    {% else %}
      <div class="title">
        {% include "@atoms/label/label-customized.twig" %}
      </div>
    {% endif %}

    <div class="body">
      {% if content %}
        {% block content %}
          {{ content.body }}
        {% endblock %}
      {% endif %}
    </div>
  </div>

  {% if content.field_read_more %}
    <div class="read-more">
      {% block read_more %}
        {{ content.field_read_more }}
      {% endblock %}
    </div>
  {% endif %}
</div>
