{#
/**
* @see templates/layouts/majors/layout--majors.html.twig
*/
#}
{%
set classes = [
'layout',
'layout--majors'
]
%}
{% if content %}
<div{{ attributes.addClass(classes) }}>

  {% if content.top %}
  <div {{ region_attributes.top.addClass('layout__region', 'layout__region--top') }}>
    {{ content.top }}
  </div>
  {% endif %}

  <div {{ region_attributes.first.addClass('layout__region', 'layout__region--first') }}>
    <div class="majors-menu">
      <ul class="dark-blue menu">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#beyond-the-classroom">Beyond the Classroom</a></li>
        <li><a href="#careers-graduate-studies">Careers and Graduate Studies</a></li>
      </ul>
    </div>

    <div class="majors-share">
      <h2>Share this Major</h2>
      <ul class="social-media-links">
        <li>
          <a class="social-icon facebook" href="https://www.facebook.com/sharer.php?u=https%3A//www.wwu.edu/majors/biology-ba}">
            <svg aria-labelledby="facebook-icon" role="img" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <title id="facebook-icon"></title>
              <path d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-icon twitter" href="https://twitter.com/home?status=I%20am%20excited%20to%20study%20Biology%2C%20BA%20at%20WWU%21">
            <svg aria-labelledby="twitter-icon" role="img" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <title id="twitter-icon"></title>
              <path d="M22.46,6C21.69,6.35 20.86,6.58 20,6.69C20.88,6.16 21.56,5.32 21.88,4.31C21.05,4.81 20.13,5.16 19.16,5.36C18.37,4.5 17.26,4 16,4C13.65,4 11.73,5.92 11.73,8.29C11.73,8.63 11.77,8.96 11.84,9.27C8.28,9.09 5.11,7.38 3,4.79C2.63,5.42 2.42,6.16 2.42,6.94C2.42,8.43 3.17,9.75 4.33,10.5C3.62,10.5 2.96,10.3 2.38,10C2.38,10 2.38,10 2.38,10.03C2.38,12.11 3.86,13.85 5.82,14.24C5.46,14.34 5.08,14.39 4.69,14.39C4.42,14.39 4.15,14.36 3.89,14.31C4.43,16 6,17.26 7.89,17.29C6.43,18.45 4.58,19.13 2.56,19.13C2.22,19.13 1.88,19.11 1.54,19.07C3.44,20.29 5.7,21 8.12,21C16,21 20.33,14.46 20.33,8.79C20.33,8.6 20.33,8.42 20.32,8.23C21.16,7.63 21.88,6.87 22.46,6Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-icon pinterest" href="https://www.pinterest.com/pin/create/button?url=https%3A//www.wwu.edu/majors/biology-ba&amp;media=https%3A//www.wwu.edu/sites/default/files/biology.jpg&amp;description=Biology%2C%20BA">
            <svg aria-labelledby="instagram-icon" role="img" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <title id="pinterest-icon"></title>
              <path d="M9.04,21.54C10,21.83 10.97,22 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2A10,10 0 0,0 2,12C2,16.25 4.67,19.9 8.44,21.34C8.35,20.56 8.26,19.27 8.44,18.38L9.59,13.44C9.59,13.44 9.3,12.86 9.3,11.94C9.3,10.56 10.16,9.53 11.14,9.53C12,9.53 12.4,10.16 12.4,10.97C12.4,11.83 11.83,13.06 11.54,14.24C11.37,15.22 12.06,16.08 13.06,16.08C14.84,16.08 16.22,14.18 16.22,11.5C16.22,9.1 14.5,7.46 12.03,7.46C9.21,7.46 7.55,9.56 7.55,11.77C7.55,12.63 7.83,13.5 8.29,14.07C8.38,14.13 8.38,14.21 8.35,14.36L8.06,15.45C8.06,15.62 7.95,15.68 7.78,15.56C6.5,15 5.76,13.18 5.76,11.71C5.76,8.55 8,5.68 12.32,5.68C15.76,5.68 18.44,8.15 18.44,11.43C18.44,14.87 16.31,17.63 13.26,17.63C12.29,17.63 11.34,17.11 11,16.5L10.33,18.87C10.1,19.73 9.47,20.88 9.04,21.57V21.54Z"></path>
            </svg>
          </a>
        </li>
        <li>
          <a class="social-icon email" href="mailto:?subject=Biology, BA at WWU&amp;body=Check out Biology, BA at WWU by visiting https://www.wwu.edu/majors/biology-ba">
            <svg aria-labelledby="email-icon" role="img" viewbox="0 0 36 36" xmlns="http://www.w3.org/2000/svg">
              <title id="email-icon"></title>
              <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4l-8 5-8-5V6l8 5 8-5v2z"></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </a>
        </li>
      </ul>
    </div>

    <div class="majors-call-to-action">
      <a class="light-green alt button" href="https://admissions.wwu.edu/apply">Apply to Western</a>
      <a class="white alt button" href="https://www.applyweb.com/public/input?s=wwuinq">Request Info</a>
      <button class="toggle close"><i class="material-icons">close</i></button>
    </div>

  </div>

  {% if content.second %}
  <div {{ region_attributes.second.addClass('layout__region', 'layout__region--second') }}>
    {{ content.second }}
  </div>
  {% endif %}

  {% if content.bottom_first %}
  <div {{ region_attributes.bottom_first.addClass('layout__region', 'layout__region--bottom-first') }}>
    {{ content.bottom_first }}
  </div>
  {% endif %}

  {% if content.bottom_second %}
  <div {{ region_attributes.bottom_second.addClass('layout__region', 'layout__region--bottom-second') }}>
    {{ content.bottom_second }}
  </div>
  {% endif %}

  {% if content.bottom_third %}
  <div {{ region_attributes.bottom_third.addClass('layout__region', 'layout__region--bottom-third') }}>
    {{ content.bottom_third }}
  </div>
  {% endif %}

</div>
{% endif %}
