<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<!-- Shila Drupal theme CSS -->
    <link rel="stylesheet" href="../../pattern-lab/css/wwu-styleguide.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
