<!DOCTYPE html>
<html class="{{ htmlClass }}">
	<head>
		<title>{{ title }}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width" />

		<!-- preload fonts -->
		<!-- Material icons -->
		<link rel="preload" href="../../pattern-lab/fonts/material-icons.woff2" as="font" crossorigin>
		<!-- Fira Sans Light Italic  -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-light-italic.woff2" as="font" crossorigin>
		<!-- Fira Sans Italic -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-italic.woff2" as="font" crossorigin>
		<!-- Fira Sans Normal 300 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-normal-300.woff2" as="font" crossorigin>
		<!-- Fira Sans Normal 400 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-normal-400.woff2" as="font" crossorigin>
		<!-- Fira Sans Normal 600 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-normal-600.woff2" as="font" crossorigin>
		<!-- Fira Sans Normal 700 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-normal-700.woff2" as="font" crossorigin>
		<!-- Fira Sans Normal 900 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-normal-900.woff2" as="font" crossorigin>
		<!-- Fira Sans Extra Condensed 300 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-extra-condensed-300.woff2" as="font" crossorigin>
		<!-- Fira Sans Extra Condensed 400 -->
		<link rel="preload" href="../../pattern-lab/fonts/fira-sans-extra-condensed-400.woff2" as="font" crossorigin>
		<!-- Montserrat 700 -->
		<link rel="preload" href="../../pattern-lab/fonts/montserrat-700.woff2" as="font" crossorigin>
		<!-- Montserrat 900 -->
		<link rel="preload" href="../../pattern-lab/fonts/montserrat-900.woff2" as="font" crossorigin>
		<!-- PT Serif 400 -->
		<link rel="preload" href="../../pattern-lab/fonts/pt-serif-400.woff2" as="font" crossorigin>
		<!-- PT Serif 700 -->
		<link rel="preload" href="../../pattern-lab/fonts/pt-serif-700.woff2" as="font" crossorigin>


		<!-- Drupal theme CSS -->
    <link rel="stylesheet" href="../../pattern-lab/css/wwu-styleguide.css?{{ cacheBuster }}" media="all" />

		<!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
		{{ patternLabHead | raw }}
		<!-- End Pattern Lab -->

	</head>
	<body class="{{ bodyClass }}">
